:root {
    font-size: 16px;
  }

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

 body {
     color: white;
 } 

.hero-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.hero-image div {
    max-width: 1200px;
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1567016376408-0226e4d0c1ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    ;
}

.hero-image h1 {
    color: black;
}




  
/* div.menu {
    display: block; 
    
    text-align: center;
    height: 2rem;
    border: 2px solid red;
    margin-top: 54px;
}
*/
  