:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: white;
} 

main {
    width: 90rem;
    margin: 0 auto;
}

section {
    height: 100vh;
    position: relative;
}
 
#hero-section {
    width: 100%;
    min-height: 36rem;
    
}

div.hero-image {
    background-color: beige;
    /* background-image: url('https://images.unsplash.com/photo-1567016376408-0226e4d0c1ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;   */
}

img.hero-image {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    object-fit: cover;  
}

div.hero-text {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    width: min-content;
    padding: 6rem;
    text-align: center;
    background-color: white;
}

.hero-text h1 {
    font-family: 'Butler', sans-serif;
    font-weight: 300;
    max-width: 100%;
    font-size: 5.2rem;
    white-space: nowrap;
    color: black;
    margin-top: 3.3%;
}

.hero-text h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: black;
}


/* section bio */

#bio {
    /* max-height: 90vh; */
}


.bio-img, .bio-about {
    display: inline-block;
    max-width: 50%;
    width: 49.99%;
    float: left;

}

.bio-img {
    max-height: 90vh;
    position: relative;
    max-width: 40%;
    height: 100%;
    object-fit: cover;
}

.bio-about {  
    margin-left: 6rem;
    padding-top: 10rem;

}

.bio-about h3 {
    font-family: Butler, sans-serif;
    font-size: 6rem;
    font-weight: 300;
}

.bio-about p {
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    margin-top: 3rem;
    font-weight: 450;
    color: #636363;
}

.bio-about blockquote {
    font-family: Butler, sans-serif;
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
    max-width: 415px;
}

.box {
    width: 14px;
    height: 4px;
    background-color: black;
    margin-top: 4rem;
}

h2.bio {
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    transform: rotate(-90deg);
    position: relative;
    left: 500px;
    top: 100px;
}



/* section des */

#designers {
    display: none;
}

/* section test */

#test {
    display: none;
}

/* section strong */

#strong {
    display: none;
}